worker_processes 1;
events { worker_connections 1024; }

http {
    geo $is_lan {
        default 0;
        10.0.0.0/8 1;
        172.16.0.0/12 1;
        192.168.0.0/16 1;
        127.0.0.0/8 1;
        ::1/128 1;
        fc00::/7 1;
    }

    map $is_lan $redirect_target {
        1 ${INTERNAL_HOST}:${INTERNAL_PORT};
        0 ${EXTERNAL_HOST}:${EXTERNAL_PORT};
    }

    server {
        listen 80;
        listen 8080;
        listen 8123;
        server_name _;
        return 301 ${SCHEME}://$redirect_target$request_uri;
    }

    server {
        listen 443 ssl;
        listen 8443 ssl;
        server_name _;
        ssl_certificate     /ssl/fullchain.pem;
        ssl_certificate_key /ssl/privkey.pem;
        return 301 ${SCHEME}://$redirect_target$request_uri;
    }
}
